body{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    
}
div{
    height: 10vh;
    width: 50%;

    display: flex;
    justify-content: center;
   align-items: center;
   color: wheat;
}
.input-name , .tag{
    display: flex;
    flex-direction: column;
}